<h1>タスク一覧</h1>
<table>
<thead>
  <tr>
    <th>タスク名</th>
    <th>予定日</th>
  </tr>
</thead>
<tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.scheduled_on %></td>
      </tr>
    <% end %>
</tbody>
</table>